service: autonomia-api-profile

frameworkVersion: '3'

plugins:
  - serverless-domain-manager

custom:
  customDomain:
    domainName: api-profile.autonomia.site
    basePath: ''
    stage: ${opt:stage, 'staging'}
    certificateId: 'cee74474-da0c-4aba-b9f7-3759e4eddd7e'
    createRoute53Record: false
    endpointType: 'edge'
  authorizer:
    name: cognitoAuthorizer
    type: COGNITO_USER_POOLS
    identitySource: method.request.header.Authorization
    arn: !ImportValue autonomia-api-auth-${self:provider.stage}-UserPoolArn

layers:
  commonLibs:
    path: layers/common
    name: ${self:service}-${self:provider.stage}-common
    compatibleRuntimes:
      - nodejs18.x

package:
  individually: true
  patterns:
    - '!**/*.map'
    - '!**/*.md'
    - '!test/**'
    - '!tests/**'
    - '!**/.env*'
    - '!package-lock.json'
    - '!**/.npmrc'
    - '!node_modules/**'
    - '!dist/**'
    - '!layers/**'

provider:
  name: aws
  runtime: nodejs18.x

  stage: ${opt:stage, 'staging'}
  region: us-east-1
  memorySize: 512
  timeout: 30
  apiGateway:
    gatewayResponses:
      UNAUTHORIZED:
        statusCode: 401
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
        responseTemplates:
          application/json: '{"message":"Unauthorized"}'
      ACCESS_DENIED:
        statusCode: 403
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
        responseTemplates:
          application/json: '{"message":"Access Denied"}'
      BAD_REQUEST_BODY:
        statusCode: 400
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
      BAD_REQUEST_PARAMETERS:
        statusCode: 400
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
      EXPIRED_TOKEN:
        statusCode: 403
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
        responseTemplates:
          application/json: '{"message":"Expired Token"}'
      INVALID_SIGNATURE:
        statusCode: 403
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
        responseTemplates:
          application/json: '{"message":"Invalid Signature"}'
      INTEGRATION_FAILURE:
        statusCode: 502
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
      INTEGRATION_TIMEOUT:
        statusCode: 504
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
      MISSING_AUTHENTICATION_TOKEN:
        statusCode: 403
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
        responseTemplates:
          application/json: '{"message":"Missing Authentication Token"}'
      DEFAULT_4XX:
        statusCode: 400
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
      DEFAULT_5XX:
        statusCode: 500
        responseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token,x-user-id,X-User-Id'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,PATCH,DELETE,OPTIONS'"
          gatewayresponse.header.Access-Control-Allow-Credentials: "'true'"
  vpc:
    securityGroupIds:
      - 'sg-0e9189ca9e6d0427d'
    subnetIds:
      - 'subnet-07184b6cfa97367e2'
      - 'subnet-000fbcffe0f8d9a11'
  environment:
    NODE_ENV: ${self:provider.stage}
    DB_HOST: ${ssm:/autonomia/${self:provider.stage}/db/host, 'autonomia-prod-db.cde6ocsqc6dk.us-east-1.rds.amazonaws.com'}
    DB_PORT: ${ssm:/autonomia/${self:provider.stage}/db/port, '5432'}
    DB_NAME: ${ssm:/autonomia/${self:provider.stage}/db/name, 'autonomia_db'}
    DB_USER: ${ssm:/autonomia/${self:provider.stage}/db/user, 'autonomia_admin'}
    DB_PASSWORD: ${ssm:/autonomia/${self:provider.stage}/db/password, ''}
    DB_SSL_ENABLED: ${ssm:/autonomia/${self:provider.stage}/db/ssl-enabled, 'false'}
    REDIS_HOST: ${ssm:/autonomia/${self:provider.stage}/redis/host, ''}
    REDIS_PORT: ${ssm:/autonomia/${self:provider.stage}/redis/port, '6379'}
    CACHE_TTL: ${ssm:/autonomia/${self:provider.stage}/cache/ttl, '300'}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - rds:*
      Resource: "*"
    - Effect: Allow
      Action:
        - ec2:CreateNetworkInterface
        - ec2:DescribeNetworkInterfaces
        - ec2:DeleteNetworkInterface
      Resource: "*"
    - Effect: Allow
      Action:
        - ssm:GetParameter
      Resource: "arn:aws:ssm:us-east-1:*:parameter/autonomia/*"
    - Effect: Allow
      Action:
        - elasticache:*
      Resource: "*"

functions:
  registerUser:
    handler: handlers/register.handler
    layers:
      - { Ref: CommonLibsLambdaLayer }
    events:
      - http:
          path: Autonomia/Profile/Register
          method: options
          cors: false
      - http:
          path: Autonomia/Profile/Register
          method: post
          cors: false
          
  getUserByEmail:
    handler: handlers/get-user-by-email.handler
    layers:
      - { Ref: CommonLibsLambdaLayer }
    events:
      - http:
          path: Autonomia/Profile/Users/email
          method: options
          cors: false
      - http:
          path: Autonomia/Profile/Users/email
          method: get
          cors: false
          request:
            parameters:
              querystrings:
                email: true
          authorizer: ${self:custom.authorizer}
          
  updateFirstLogin:
    handler: handlers/update-first-login.handler
    layers:
      - { Ref: CommonLibsLambdaLayer }
    events:
      - http:
          path: Autonomia/Profile/Users/{userId}/first-login
          method: options
          cors: false
      - http:
          path: Autonomia/Profile/Users/{userId}/first-login
          method: put
          cors: false
          request:
            parameters:
              paths:
                userId: true
          authorizer: ${self:custom.authorizer}